#effect {
  width: 400px;
  height: 200px;
  border: 1px solid black;
  border-radius: 50%;
}

.highlight {
  background-color: #FF69B4;
  width: 500px !important;
}

.shrink {
  background-color: pink;
  width: 200px !important;
}

.triangle {
  width: 0px;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 100px solid yellow;
  border-bottom: 50px solid transparent;
  color: indigo;
  font-family: Helvetica, sanserif;
}

/*-----------------*/
button {
  margin-bottom: 10px;
}
.container {
  margin: 20px;
  border: 1px solid black;
  padding: 20px;
  background-color: #FFF;
}
body {
  background-color: #FBDB0C;
  margin-top: 20px;
}
.menu-container {
  color: #fff;
  background-color: #CDBA96 ;  /* wheat */
  padding: 10px 10px;
  justify-content: center;
}
.menu {
  width: 600px;
}
p {
  font-family: Helvetica, Arial;
}
h2 {
  font-family: Helvetica, Arial;
}
